<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ali456-001-site1.ctempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://win8023.site4now.net:8172/MsDeploy.axd?site=ali456-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>ali456-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>False</EnableMsDeployAppOffline>
    <UserName>ali456-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="HotelManagementConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=sql8003.site4now.net;Initial Catalog=db_a871f1_hoteldb;Persist Security Info=True;User ID=db_a871f1_hoteldb_admin;Password=Hosting4u;TrustServerCertificate=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="HotelManagement.Data.HotelManagementContext, HotelManagement.Data" MigrationConfiguration="HotelManagement.Data.Migrations.Configuration, HotelManagement.Data" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=sql8003.site4now.net;Initial Catalog=db_a871f1_hoteldb;Persist Security Info=True;User ID=db_a871f1_hoteldb_admin;Password=Hosting4u;TrustServerCertificate=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-HotelManagement-20200720072737.mdf;Initial Catalog=aspnet-HotelManagement-20200720072737;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-HotelManagement-20200720072737.mdf;Initial Catalog=aspnet-HotelManagement-20200720072737;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=sql8003.site4now.net;Initial Catalog=db_a871f1_hoteldb;Persist Security Info=True;User ID=db_a871f1_hoteldb_admin;Password=Hosting4u;TrustServerCertificate=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="HotelManagementConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=sql8003.site4now.net;Initial Catalog=db_a871f1_hoteldb;Persist Security Info=True;User ID=db_a871f1_hoteldb_admin;Password=Hosting4u;TrustServerCertificate=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>